<div class="card">
  <div class="card-content">
    {{ title }}
  </div>
  <div class="card-action">
    <a href="/user/{{ author.id }}" class="author's name">{{ author.email }}</a>
    <div class="description"></div>{{ description }}
  </div>
  <div>{{likes}} Likes</div>
  <div><img src="{{url}}" alt=""></div>
  <a href="/">Back</a>
</div>
</div>