<div class="card">
  <div class="card-content">
    {{ title }}
  </div>
  <div class="card-action">
    <a href="/user/{{ author.id }}" class="author's name">{{ author.email }}</a>
    <div class="description"></div>{{ description }}
  </div>
  <div>{{likes}} Likes</div>
  <a href="/">Back</a>
  {{#equal currentUser.id author.id }}
  <a href="/post/{{id}}/edit">Edit Post</a>
  {{/equal}}
  <img src="{{url}}" alt="" class="img-responsive" style="width: 60%; height: 60%;">

</div>