{{!-- <div class="post">
  {{!-- <div class="card-content">
    {{ title }}
  </div>
  <div class="card-action">
    <a href="/user/{{ author.id }}" class="author's name">{{ author.email }}</a>
    <div class="description"></div>{{ description }}
  </div>
  <div>{{likes}} Likes</div>
  <a href="/">Back</a>
  {{#equal currentUser.id author.id }}
  <a href="/post/{{id}}/edit">Edit Post</a>
  {{/equal}}
  <img src="https://s3.amazonaws.com/stagebright/uploads{{url}}" alt="" class="img-responsive"> --}}

  {{!-- <div class="card mt-7" style="width: 18rem;">
    <img class="card-img-top" src="https://s3.amazonaws.com/stagebright/uploads{{url}}" alt="Card image cap">
    <div class="card-body">
      <h5>Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</div> --}} --}}