{{user.name}}
{{ user.email}}
<br>
Bio: <br>
{{#if user.bio}}
{{else}}
No bio added yet
{{/if}}

{{#equal currentUser.id user.id }}
<a href="/user/{{currentUser.id}}/edit">Edit User</a>

{{#if currentUser.bio}}
{{currentUser.bio}}


{{else}}
<br><br>Add a bio
<form method="post" action="/user/{{currentUser.id}}?_method=PUT">

  <input class="form-control" type="hidden" value="{{currentUser.name}}" name="name" id="name">

  <div>
    <textarea name="bio" cols="30" rows="10" placeholder="bio"></textarea>
  </div>

  <input class="form-control" value="{{currentUser.email}}" type="hidden" name="email" id="email">


  <input class="btn btn-default" type="submit">
</form>

{{/if}}
{{/equal}}

MY WORK
{{#each user.posts}}
<a href="/post/{{id}}">
  <img src="{{url}}" alt="" class="thumbnail" style="width: 100px; height: 100px">
</a>

{{/each}}